.vscode/settings.json
*.jpg
*.pth
.idea/vcs.xml
.idea/other.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/AML_G11.iml
.idea/workspace.xml
.idea/*
.idea
torch_cnn_WR_4.pth